

::-webkit-scrollbar {
    display: none;
}

.forms-container {
    height: 100vh;

    max-width: 750px;

    padding: 4rem;

    flex: 0 1 420px;

    margin: auto;

    overflow-y: scroll;
}

.resume-container {
    flex: 1;
    flex-grow: 1;
    flex-shrink: 0;

    height: 29.7cm;
    width: 21cm;

    background-color: #fff;

    margin: 0;

    padding: 1.5rem 2rem;
}